@page "/questions/ask"

@* Dette er siden, hvor man kan indsende et spørgsmål. *@

@inject HttpClient http
@inject AppDataService service
@inject NavigationManager navigation

<PageTitle>Stil et spørgsmål</PageTitle>


<h3>Stil et spørgsmål</h3>

<div class="card card-askpage bg-lite">
	<EditForm Model="@newQuestion" OnValidSubmit="@CreateQuestion">

		<div class="form-group">
			<label for="Title" class="col-form-label">
				Overskrift
			</label>
			<input type="text" id="Title" class="form-control" 
				placeholder="Overskrift på spørgsmålet" 
				minlength="2"
				maxlength="150"	
				@bind="newQuestion.Title" required />
		</div>

		<div class="form-group">
			<label for="Text" class="col-form-label">
				Spørgsmål
			</label>
			<textarea id="Text" class="form-control" 
				placeholder="Skriv et spørgsmål" 
				minlength="10"
				maxlength="300"
				@bind="newQuestion.Text" required />
		</div>

		<div class="form-group">
			<label for="Subject" class="col-form-label">
				Emne
			</label>
			<select id="Subject" class="form-select"
				@bind="SubjectId" required >

				@if (subjects is not null)
				{
				<option selected>Vælg et emne...</option>
					@foreach (var subject in subjects)
					{
						<option value="@subject.Id">@subject.Name</option>
					}
				}

			</select>
		</div>

		<div class="form-group">
			<label for="Username" class="col-form-label">
				Navn
			</label>
			<input type="text" id="Username" class="form-control" 
				placeholder="Skriv dit navn"
				minlength="2"
				maxlength="12"
				@bind="newQuestion.Username" required />
		</div>

		<button type="submit" class="btn btn-qna btn-submit">
			Send
		</button>

	</EditForm>
</div>


@code {
	private int SubjectId;
	private SubjectData[]? subjects;
	public QuestionData newQuestion = new() { };

	protected override async Task OnInitializedAsync()
	{
		subjects = await service.GetSubjects();
	}

	private async Task CreateQuestion()
	{
		var _username = FormatName(newQuestion.Username);
		var _subject = await service.GetSubjectById(SubjectId);

		newQuestion.Username = _username;
		newQuestion.Subject = _subject!;

		await service.CreateQuestion(newQuestion);

		navigation.NavigateTo("questions");
	}

	private string FormatName(string name) {
		return char.ToUpper(name[0]) + name.Substring(1).ToLower();
	}

}
