
<div class="text-nowrap" style="margin-left: 12px">
    <NavLink href="questions/ask">
        <button class="btn btn-primary" aria-hidden="true">
            Stil spørgsmål
        </button>
    </NavLink>
</div>
