
@* Dette er en component, der viser en lille knap, som man kan trykke på, for at gå til AskQuestionPage.razor. *@

<div class="text-nowrap" style="margin-left: 12px">
    <NavLink href="questions/ask">
        <button class="btn btn-qna" aria-hidden="true">
            Stil spørgsmål
        </button>
    </NavLink>
</div>
