/**/
:root {
    --bs-card-body-bg: #dbe6ee;
    --bs-lite-body-bg: #fafafe;
    --bs-color-1: #000000;
    --bs-color-2: #093e63;
    --bs-color-3: #782903;
    --bs-btn-bg-1: #464A87;
    --bs-btn-bg-2: #363b7e;
    --bs-btn-bg-3: #2b3072;
    --bs-btn-border-1: #464A87;
    --bs-btn-box-shadow: #777ffc;
    --sidebar-bg: #f2f3ff;
    --sidebar-fold-out-bg: #daddff;
    --nav-top-row-bg: #464a87;
    --nav-btn-bg-active: #6E75D4;
    --nav-btn-bg-hover: #464a87;
    --nav-btn-color: #2b2d56;
    --pagination-btn-color: #093e63;
}

body {
    background-color: var(--bs-lite-body-bg);
}

a {
    color: var(--bs-color-2);
}
    a:hover {
        color: var(--bs-color-3);
    }

.a-link {
    color: #151b73;
}
/* Custom */
.rank {
    float: left;
    align-self: center;
}

.vote-body {
    display: flex;
    background-color: #e5ecf1;
    padding: 6px;
    border-radius: 6px;
    align-items: center;
    flex-direction: column;
    float: right;
    color: #969a9f;
}

.btn-vote {
    color: unset;
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

    .btn-vote:focus, :focus-visible {
        outline: unset;
        box-shadow: unset;
    }

    .btn-vote.up:hover {
        color: #00bd3f;
    }

    .btn-vote.down:hover {
        color: #bd2d00;
    }

.btn-qna {
    color: #fff;
    background-color: var(--bs-btn-bg-1);
    border: unset;
}

    .btn-qna:hover {
        color: #fff;
        background-color: var(--bs-btn-bg-2);
        border-color: var(--bs-btn-border);
    }

    .btn-qna:focus {
        box-shadow: 0 0 0 0.1rem var(--bs-btn-box-shadow);
    }

.btn-submit {
    background-color: var(--bs-color-2);
}

.subject-tag {
    color: #39739d;
    background-color: #00375e1f;
    align-self: center;
    line-height: 1;
    padding: 0.25rem;
    margin: 0;
}

.questionpage-subject-tag {
    color: var(--bs-color-3);
    opacity: 100%;
}

.bg-lite {
    background-image: linear-gradient(328deg, #e5ecf1 0%, #e6eef7 70%);
}

/*---- Pagination ----*/
.btn-pageination {
    background-color: #6E75D4;
}
    .btn-pageination:focus {
        box-shadow: unset;
    }

/*---- Cards ----*/
.card-user {
    display: inline-flex;
    gap: .25rem;
}

.card-user-text {
    flex-direction: row;
    white-space: nowrap;
}

.card-left {
    width: auto;
    min-width: 0;
    grid-column: 1;
}

.card-right {
    width: auto;
    grid-column: 2;
}

/* Card: Answer */
.card-answer {
    margin-top: 0.75rem;
    border: unset;
    border-radius: 6px;
}

.card-answer-header {
    background-color: transparent;
}

.card-answerbox {
    margin: 1rem 0 0 -1rem;
    border: 0;
    border-radius: 6px;
    padding: 0.5rem;
}

/* Card: Subject */

.card-subject {
    border: 0;
}

/* Card: Questions */

.card-question-group {
    width: inherit;
}

.card-question {
    margin-bottom: 0.25rem;
    border: 0;
    border-radius: 6px;
}

.card-question-header {
    opacity: 60%;
    background-color: transparent;
    border-bottom: 0;
}

.card-question-summary {
    display: flex;
    width: auto;
    gap: 0.5rem;
}

.card-question-body {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 1rem;
}

.card-question-footer {
    display: flex;
    opacity: 60%;
    background-color: transparent;
    justify-content: space-between;
    border-top: 0;
}

.card-question-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.card-question-text {
    font-size: 1rem;
    font-weight: 400;
}

/* Card: Questionpage */
.card-questionpage-header {
    display: flex;
    border-bottom: 5px solid #acacac20;
}

.card-questionpage-summary {
    width: auto;
    gap: 0.5rem;
    flex-grow: 1;
}

/* Card: Askpage */
.card-askpage {
    padding: 0.5rem;
    margin: 1rem 0 0 -1rem;
    border: unset;
    border-radius: 6px;
}

/*---------------*/

.card-columns .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-group .card {
        margin-bottom: 0.75rem;
    }

    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}
